code, p, li, h1, h2, h3, h4, h5, h6 {
  color: #c4c4c4;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

html {
  background-color: #212121;
}

body {
  margin: 0 auto;
  padding: 0 2em 0em 2em;
  max-width: 1000px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

blockquote{
  color: #555555;
  padding: 0 1.5em;
  border-left: 8px solid #696969;
  margin: 0;
  background-color: #342F41;
  border-radius: 2.5px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 7.5px;
  width: 100%;
  height: 100%;
}

::selection {
  color: #c4c4c4;
  background: #400082;
}

a:link, a:visited, a:active {
  text-decoration: none;
  transition: 0.3s;
}

a:active, a:link, a:visited {
  color: #9b70ff;
}

a:hover {
  color: #bf69ff;
}

p, li {
  font-size: 1.25em;
  line-height: 2;
  letter-spacing: 1px;
}

code {
  font-family: monospace;
  font-size: 1.25em;
  color: #999999;
}

.cursor {
  animation: cursor 1s infinite;
}

.icon {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	h1 {
		font-size: 2.5em;
	}
}
